TOKEN="123456789:aAbB123CcDd"
CHAT_ID="3213456789"
DB_PATH="/../trading_data.db"

# WhatsApp API configuration
WA_API_URL="http://your-whatsapp-server-ip:3000"
API_WA_KEY="your_api_key_here"
WHATSAPP_GROUP_ID="120363XXXXXXXXXXXX@g.us"